/*
0 - 600px: phone
600 - 900px: Tablet portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800 +: Big desktop
*/
.scroll {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 56.25em) {
    .scroll {
      top: 87%; } }
  .scroll span {
    display: block;
    width: 2rem;
    height: 2rem;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    margin: -1rem;
    animation: scroll-indicator 2s infinite; }
    .scroll span:nth-child(2) {
      animation-delay: -0.2s; }
    .scroll span:nth-child(3) {
      animation-delay: -0.4s; }
    @media (max-width: 56.25em) {
      .scroll span {
        width: 1.5rem;
        height: 1.5rem; } }

@keyframes scroll-indicator {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

a:hover {
  cursor: pointer; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    animation-name: moveInBottom;
    animation-duration: 3s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    animation-name: moveInBottom;
    animation-duration: 3s; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem;
      margin: 0rem 1rem; } }

.heading-secondary-center {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  @media (max-width: 37.5em) {
    .paragraph {
      margin: 0rem 3rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 5rem; }

.u-margin-top-small-2 {
  margin-top: 3rem; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.user-nav {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2998ff; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: #f4f2f2; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(#777); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #2998ff;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.6rem;
  list-style: none;
  margin-top: 3rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #2998ff;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #2998ff; }
  .side-nav__link:link, .side-nav__link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 6rem;
    position: relative;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  margin-top: 35rem; }

.sign-form {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  width: 35rem;
  min-height: 35rem;
  background-color: #eee;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  padding: 5rem;
  border-radius: 5px; }
  @media (max-width: 37.5em) {
    .sign-form {
      top: 50%;
      left: 50%;
      right: 0; } }
  .sign-form__input-box {
    position: relative;
    margin: 20px 0;
    text-align: center; }
    .sign-form__input-box input {
      width: 100%;
      font-size: 1.6rem;
      border: none;
      border-bottom: 2px solid #2998ff;
      outline: none;
      padding: 10px;
      padding-left: 2.5rem;
      box-sizing: border-box; }
      .sign-form__input-box input:focus {
        border-bottom: 2px solid #55c57a; }
        .sign-form__input-box input:focus:invalid {
          border-bottom: 3px solid #ff7730; }
  .sign-form__icon {
    position: absolute;
    height: 2.1rem;
    width: 2.1rem;
    top: .8rem;
    left: .1rem; }

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  min-height: 35rem;
  background-color: #eee;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  padding: 5rem;
  border-radius: 3px; }
  .login-form__input-box {
    position: relative;
    margin: 20px 0; }
    .login-form__input-box input {
      width: 100%;
      font-size: 1.6rem;
      border: none;
      border-bottom: 2px solid #2998ff;
      outline: none;
      padding: 10px;
      padding-left: 2.5rem;
      box-sizing: border-box; }
      .login-form__input-box input:focus {
        border-bottom: 2px solid #55c57a; }
        .login-form__input-box input:focus:invalid {
          border-bottom: 3px solid #ff7730; }
  .login-form__icon {
    position: absolute;
    height: 2.1rem;
    width: 2.1rem;
    top: .8rem;
    left: .1rem; }

.btn, .btn:link {
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.2); }

.btn--green {
  background-color: #55c57a;
  color: #fff; }

.btn--blue {
  background-color: #2998ff;
  color: #fff; }

.btn--red {
  background-color: #FF4136;
  color: #fff; }

input[type="checkbox"] {
  position: relative;
  width: 4rem;
  height: 2rem;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 2rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

input:checked[type="checkbox"] {
  background: #2998ff; }

input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transition: .5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

input:checked[type="checkbox"]:before {
  left: 2rem; }

.btn--2, .btn--2:link {
  text-decoration: none;
  padding: .5rem 1.2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.2rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn--2:hover {
  transform: translateY(-3px);
  box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.2); }

.btn--2--green {
  background-color: #55c57a;
  color: #fff; }

.book-container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.book {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  .book__item {
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3.5rem; }
    .book__item img {
      grid-column: 2 / 4;
      justify-self: center; }
    .book__item h2 {
      grid-column: 1 / -1;
      text-align: center; }
    .book__item p {
      grid-column: 1 / -1;
      text-align: center; }
    .book__item a {
      grid-column: 1 / -1;
      text-align: center; }

.register {
  max-width: 105rem;
  margin: auto;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  border-radius: 1rem; }

.register-last {
  max-width: 105rem;
  margin: 12rem auto;
  padding: 6rem 0rem;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  border-radius: 1rem; }

.register__input {
  font-size: 1.6rem;
  padding: .7rem;
  width: 30rem;
  margin-bottom: 1.5rem; }
  .register__input--1 {
    font-size: 1.6rem;
    padding: .7rem;
    width: 50rem;
    margin-bottom: 1rem; }
  .register__input--desc {
    font-size: 1.6rem;
    padding: .7rem;
    width: 68.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }

.register__textarea {
  width: 90rem;
  margin: auto;
  text-align: center;
  margin-top: 1rem; }
  .register__textarea textarea {
    font-size: 1.6rem;
    font-family: inherit;
    padding: .7rem;
    width: 90rem; }

.register__label {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  transition: all .3s; }

.sportlist {
  margin-left: 2.5rem; }

.add__image {
  position: relative;
  margin: auto;
  margin-top: 2rem;
  background-color: #eee;
  width: 90rem;
  height: 20rem;
  cursor: pointer; }
  .add__image--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.add_more {
  margin-left: 17.5%;
  margin-bottom: 2rem;
  border: none;
  width: 15rem;
  padding: .5rem;
  cursor: pointer; }

.terms {
  width: 50rem;
  margin-top: 2rem;
  margin-left: 23%;
  display: flex;
  align-items: center; }
  .terms p {
    margin-left: .5rem; }

.row-register {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center; }
  .row-register::after {
    content: "";
    display: table;
    clear: both; }
  .row-register [class^="col-"] {
    float: left; }
    .row-register [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row-register .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.row-small {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center; }
  .row-small::after {
    content: "";
    display: table;
    clear: both; }
  .row-small [class^="col-"] {
    float: left; }
    .row-small [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row-small .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.navigation {
  position: relative;
  display: block;
  padding: 2rem 2rem;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 7rem;
  top: 0;
  border-bottom: solid 2px #2998ff;
  background-color: #fff; }
  @media (max-width: 56.25em) {
    .navigation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 2.5rem; } }
  .navigation__left {
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    float: left; }
  .navigation__link {
    text-decoration: none;
    color: #2998ff;
    padding: 2.5rem; }
    @media (max-width: 56.25em) {
      .navigation__link {
        display: none;
        overflow: hidden; } }
  .navigation__right {
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    float: right; }
    .navigation__right__link {
      text-decoration: none;
      color: #2998ff;
      padding: 1rem 1.5rem;
      margin-left: 2rem;
      border: 1px solid #28b485;
      border-radius: 5rem;
      transition: all .2s; }
      @media (max-width: 56.25em) {
        .navigation__right__link {
          display: none;
          overflow: hidden; } }
      .navigation__right__link:hover {
        background-color: #2998ff;
        color: #fff; }

.open-slide {
  float: right;
  display: none; }
  @media (max-width: 56.25em) {
    .open-slide {
      margin-top: .2rem;
      display: block; } }

.mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  .mobile-nav__list {
    text-align: center; }
  .mobile-nav__item {
    margin-bottom: 2rem; }
  .mobile-nav__item2 {
    margin: auto;
    margin-bottom: 2rem;
    border: 2px solid #2998ff;
    width: 12rem;
    list-style: none;
    border-radius: 10px; }
  .mobile-nav__link {
    font-size: 2.2rem;
    text-decoration: none;
    color: #2998ff; }
  .mobile-nav__link2 {
    font-size: 2.2rem;
    text-decoration: none;
    color: #2998ff; }

.mobile-nav .btn-close {
  position: absolute;
  color: #2998ff;
  top: 0;
  right: 22px;
  font-size: 3.6rem;
  margin-left: 50px; }

header {
  position: relative;
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: #2998ff 2px solid;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex;
  height: 100%; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column; }

.content-view {
  background-color: #eee;
  flex: 1; }

.detail {
  font-size: 1.6rem;
  display: flex;
  padding: 4.5rem; }

.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  flex: 0 0 70%;
  margin-right: 4.5rem;
  width: 100%; }

.book-nav {
  list-style: none;
  display: flex;
  background-color: #333; }
  .book-nav .active a {
    color: #fff;
    background-color: #2998ff; }
  .book-nav a {
    text-decoration: none;
    color: darkgray;
    padding: 2rem;
    display: block;
    width: 100%; }

.book-heading {
  color: #fff;
  background-color: #2998ff;
  padding: 1.5rem;
  text-align: center; }

.book-container {
  position: relative;
  width: 100%;
  margin: auto; }

.book-table {
  position: absolute;
  width: 100%;
  padding: 2rem;
  text-align: center; }
  .book-table tr {
    background-color: #f4f2f2; }
  .book-table td {
    font-family: inherit;
    font-weight: 700;
    padding: 2rem 0; }
  .book-table .type--1 {
    color: #2998ff; }
  .book-table .type--2 {
    color: #55c57a; }
  .book-table .type--3 {
    color: #ff7730; }

.book-link a {
  margin: .8rem;
  text-decoration: none; }

.book-link a:hover {
  color: #2998ff; }

.tab-pane {
  display: none; }

.tab-pane.active {
  display: block; }

.book__review {
  flex: 1;
  display: flex;
  flex-direction: column; }

.review {
  background-color: #fff;
  padding: 3rem;
  margin-bottom: 3.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 10px; }

.calendar-container {
  padding: 5rem;
  width: 100rem;
  height: 4rem;
  margin: auto; }

.calendar__head {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem; }

.calendar__new {
  display: flex;
  align-items: center;
  border-top-left-radius: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  fill: #fff;
  background-color: #2998ff;
  padding: .5rem 1rem; }
  .calendar__new--icon {
    margin-left: .4rem;
    height: 1.2rem;
    width: 1.2rem; }

.calendar__search {
  margin-right: auto; }
  .calendar__search--input {
    padding: .6rem 1rem;
    height: 3.5rem;
    width: 60rem;
    outline: none;
    border: none; }

.calendar__month {
  padding: .5rem 1rem;
  background-color: #2998ff;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  fill: #fff;
  font-size: 1.5rem; }
  .calendar__month--icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0rem .8rem; }
  .calendar__month button {
    background: none;
    border: none;
    cursor: pointer; }

.year {
  margin-left: 0.5rem; }

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  font-size: 1.5rem;
  display: flex; }
  .weekdays li {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 14%;
    color: #666;
    text-align: center; }

.days {
  padding: 1rem 0;
  background: #eee;
  margin: 0; }
  .days__content {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-left: .8rem; }
  .days__number {
    width: 2.7rem;
    margin-bottom: .5rem; }
  .days__item {
    display: flex;
    align-items: center;
    margin-bottom: -.3rem; }
    .days__item p {
      margin-left: .4rem; }
  .days__icon {
    height: 1rem;
    width: 1rem; }
  .days__more {
    background: none;
    width: 3rem;
    height: 3rem;
    border: none;
    fill: #333;
    outline: none;
    cursor: pointer; }
    .days__more--icon {
      height: 3rem;
      width: 3rem; }

.legends {
  display: flex;
  align-items: center;
  margin-top: 2rem; }
  .legends__mark {
    display: flex;
    align-items: center;
    margin-right: 2rem; }
  .legends__icon {
    height: 2rem;
    width: 2rem; }
  .legends p {
    font-size: 1.4rem;
    margin-left: .5rem; }

.legend__blue {
  fill: #2998ff; }

.legend__green {
  fill: #55c57a; }

.legend__orange {
  fill: #ff7730; }

.days li {
  list-style-type: none;
  display: inline-block;
  width: 14%;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #777;
  background-color: #fff;
  height: 11rem; }

.active__number {
  text-align: center;
  background: #2998ff;
  color: #fff;
  border-radius: 5px; }

.week {
  padding: 1rem 0;
  background: #eee;
  margin: 0; }

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-content {
  margin: 10% auto;
  width: 40rem;
  background-color: #fff;
  animation-name: modalopen;
  animation-duration: 1s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.modal-header {
  background: #2998ff;
  padding: 0rem 2rem;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center; }

.modal-body {
  padding: 1rem 2rem;
  font-size: 1.5rem; }

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
  margin-left: auto;
  cursor: pointer; }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.reservat-container {
  padding: 5rem 0rem;
  width: 90rem;
  margin: auto; }

.reservat__head {
  margin-bottom: 1rem;
  padding: 0rem 1rem; }

.reservat__body {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }

.reservat__label {
  display: block;
  font-size: 1.5rem; }

.reservat__group {
  margin-right: 2rem; }

.reservat__input {
  font-size: 1.5rem;
  padding: .7rem;
  border-radius: 5px;
  border: none;
  background-color: #eee; }

.reservat__btn {
  margin-left: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #2998ff;
  color: #fff;
  height: 3.3rem;
  width: 8rem;
  cursor: pointer; }

.reserv-container {
  width: 80rem;
  margin: auto;
  padding: 7rem 0rem; }

.reserv {
  width: 80rem;
  background-color: #fff;
  border-radius: 10px; }
  .reserv__head {
    padding: 1rem 2rem;
    border-bottom: 2px solid #2998ff; }
  .reserv__body {
    display: flex;
    padding: 1rem 6rem; }
  .reserv__content1 {
    flex: 0 0 50%;
    margin-right: 4rem; }
  .reserv__content2 {
    flex: 1; }
  .reserv__group {
    margin-bottom: 1rem; }
  .reserv__guest {
    display: flex;
    align-items: center; }
  .reserv__left {
    margin-left: auto; }
  .reserv__num {
    margin-left: 1.5rem; }
  .reserv__buttons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0rem 4rem; }
  .reserv__button1 {
    margin-right: auto; }

.property__nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 1.6rem;
  background-color: #fff; }
  .property__nav .active a {
    color: #2998ff; }
  .property__nav a {
    text-decoration: none;
    color: darkgray;
    padding: 1.5rem;
    display: inline-block;
    text-align: center; }

.property-container {
  width: 60%;
  margin: 8rem auto;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }

.property-header {
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #2998ff; }
  .property-header--1 {
    margin-right: auto; }

.property-body {
  padding: 1.5rem;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.property-item__flex {
  display: flex;
  justify-content: end; }

.property-item__head {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; }

.property-item__desc {
  width: 40rem;
  height: 10rem;
  font-size: 1.6rem;
  padding: .7rem;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  margin-bottom: 1rem; }

.property-item__group {
  display: flex;
  padding: 1rem 0rem;
  width: 22rem; }

.property-item__label {
  margin-right: 1rem;
  font-size: 1.4rem; }

.property-item__input {
  font-size: 1.6rem;
  padding: .7rem;
  width: 30rem;
  border-radius: 5px;
  border: none;
  background-color: #eee; }
  .property-item__input--2 {
    font-size: 1.6rem;
    padding: .7rem;
    width: 7rem;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    margin-left: auto; }

.property-item__container {
  width: 30%;
  margin-left: 10%; }
  .property-item__container .room-list {
    background-color: #eee;
    border-radius: 10px; }
  .property-item__container .room__item {
    display: flex;
    padding: 0.5rem;
    font-size: 1.4rem; }
    .property-item__container .room__item--text {
      margin-right: auto; }
  .property-item__container .room-desc {
    margin: 1rem 0;
    font-size: 1.4rem; }

.property-item .change-btn {
  margin-left: auto;
  border: 1.5px solid #eee;
  width: 2rem;
  background-color: #fff;
  cursor: pointer; }
  .property-item .change-btn:hover {
    background-color: #eee; }

.centre__container {
  width: 100rem;
  margin: auto;
  padding: 5rem 0; }

.centre {
  display: flex; }
  .centre__text {
    flex: 0 0 45%;
    margin-right: 3rem; }
  .centre__desc {
    flex: 1;
    position: relative; }
  .centre__textarea {
    position: relative;
    width: 100%;
    padding-top: 3.5rem;
    height: 25rem;
    border-radius: 5px;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }
  .centre__btn {
    position: absolute;
    margin-top: 1rem;
    margin-left: -3rem;
    border: 1.5px solid #eee;
    width: 2rem;
    background-color: #fff;
    cursor: pointer; }
    .centre__btn:hover {
      background-color: #eee; }
  .centre__images1 {
    display: flex;
    text-align: center; }
  .centre__profile {
    flex: 0 0 30%;
    background-color: #fff;
    margin-right: 2rem;
    border-radius: 5px;
    padding: 1rem 0rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }
  .centre__firstlook {
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 0rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }
  .centre__images2 {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 0rem;
    text-align: center;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }

.sports {
  display: flex;
  align-items: center;
  margin-top: .3rem; }

.sport-head {
  font-size: 1.4rem;
  background-color: #eee;
  padding: .2rem;
  border-radius: 5px;
  margin-right: .2rem; }

.sport-list {
  display: flex; }

.sport-item {
  font-size: 1.4rem;
  padding: .2rem;
  background-color: #eee;
  border-radius: 5px;
  margin-right: .2rem; }

.package__container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.package {
  grid-column: center-start / center-end;
  margin: 7rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 7rem; }
  .package__item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .package__btn {
    float: right;
    margin-left: auto;
    border: 1.5px solid #eee;
    cursor: pointer;
    width: 2rem;
    background-color: #fff; }
    .package__btn:hover {
      background-color: #eee; }
  .package__desc {
    padding: 1rem 1.5rem; }
  .package__head {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2998ff;
    padding: 1rem 1.5rem; }
    .package__head h2 {
      margin-right: auto; }
  .package__body {
    padding: 1rem 1.5rem; }
  .package .package__content--2 {
    display: flex;
    align-items: center; }
    .package .package__content--2 h2 {
      margin-right: 1rem; }
  .package__detail {
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-bottom: 2rem; }
  .package__cost {
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 8rem;
    text-align: center;
    margin-right: 1rem; }
  .package__group label {
    display: block; }
  .package__group--input {
    font-size: 1.6rem;
    padding: .7rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: #eee; }
    .package__group--input--2 {
      font-size: 1.6rem;
      padding: .7rem;
      border-radius: 5px;
      border: none;
      margin: 0rem 1rem;
      width: 8rem;
      background-color: #eee; }
  .package__hind {
    width: 20rem; }

.dropdown-check-list {
  display: inline-block; }

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  width: 30rem; }

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%; }

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none; }

.dropdown-check-list ul.items li {
  list-style: none; }

.item-flex {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  margin-left: 1rem; }

.check-item {
  margin-left: 1rem; }

.items__search {
  font-size: 1.6rem;
  padding: .7rem;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #eee; }

.invoice {
  width: 100%;
  text-align: center;
  font-size: 1.6rem; }
  .invoice tr:nth-child(even) {
    background-color: #eee; }
  .invoice__item {
    display: block;
    font-size: 1.3rem; }
  .invoice__sign {
    display: flex;
    justify-content: start;
    margin-left: .4rem;
    font-size: 1.2rem; }
  .invoice__link {
    text-decoration: none;
    color: #2998ff; }
    .invoice__link:hover {
      color: blue; }
  .invoice__icon {
    height: 2rem;
    width: 2rem; }
    .invoice__icon--2 {
      margin-top: .5rem;
      height: 1.8rem;
      width: 1.8rem; }

.new {
  color: #2998ff;
  font-weight: 400; }

.bad {
  fill: #FF4136; }

.green {
  fill: #55c57a;
  color: #55c57a; }

.company-container {
  margin: auto;
  width: 100rem;
  padding: 5rem 0rem; }

.company__contact {
  width: 45rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  margin: 2rem; }

.company__head {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid #2998ff; }
  .company__head h2 {
    margin-right: auto; }

.company__body {
  padding: 1rem 1.5rem; }

.company__group {
  display: flex;
  align-items: center;
  margin-top: 1rem; }

.company__label {
  margin-right: auto;
  font-size: 1.5rem; }

.company__input {
  font-size: 1.5rem;
  padding: .7rem;
  width: 25rem;
  border-radius: 5px;
  border: none;
  background-color: #eee; }
  .company__input--1 {
    width: 40rem;
    font-size: 1.5rem;
    padding: .7rem;
    border-radius: 5px;
    border: none;
    background-color: #eee; }

.company__detail {
  width: 70rem;
  background-color: #fff;
  border-radius: 1rem;
  margin: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__navigation {
    border-top: 1px solid #777;
    padding: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    display: inline-block;
    background-color: #333;
    transition: all .2s; }
    .footer__link:link:hover, .footer__link:link:active, .footer__link:visited:hover, .footer__link:visited:active {
      color: #2998ff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(-5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    float: right;
    width: 80%; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.section-sign-up {
  height: 100vh;
  background-image: linear-gradient(to right top, rgba(153, 153, 153, 0.8), rgba(51, 51, 51, 0.8)), url(../img/partner-land.jpg);
  background-size: cover; }
  @media (max-width: 37.5em) {
    .section-sign-up {
      height: 95vh; } }
  .section-sign-up:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: #2998ff;
    opacity: 0.7; }
    @media (max-width: 37.5em) {
      .section-sign-up:before {
        height: 95vh; } }

.section-login {
  height: 100vh;
  background-image: linear-gradient(to right top, rgba(153, 153, 153, 0.8), rgba(51, 51, 51, 0.8)), url(../img/partner-land.jpg);
  background-size: cover; }

.section-partner {
  background-color: #eee;
  padding: 10rem 0; }
  @media (max-width: 37.5em) {
    .section-partner {
      padding: 5rem 0; } }

.section-prices {
  background-color: #eee;
  padding: 10rem 0; }
  @media (max-width: 37.5em) {
    .section-prices {
      padding: 5rem 0; } }

.section-work {
  background-color: #eee;
  padding: 10rem 0; }
  @media (max-width: 37.5em) {
    .section-work {
      padding: 5rem 0; } }

.section-faq {
  background-color: #eee;
  padding: 5rem 0; }

.section-book {
  background-color: #eee;
  padding: 10rem 0; }

.section-register {
  background-color: #eee;
  padding: 10rem 0; }

.info {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .info {
      flex-wrap: wrap; } }
  .info__box {
    padding: 4rem;
    margin: 3rem;
    width: 50rem; }
  .info__img {
    align-items: center; }
