$primary-color: #2998ff;

$color-green-primary: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange: #ff7730;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f4f2f2;
$color-grey-light-4: #faf9f9;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;