.calendar-container {
    padding: 5rem;
    width: 100rem;
    height: auto;
    margin: auto;
}

.calendar {

    &__head {
        display: flex;
        align-items: center;

        background-color: #fff;
        border-radius: 1rem;
    }
    

    &__new {
        display: flex;
        align-items: center;
        border-top-left-radius: 1rem;

        

        font-size: 1.5rem;
        text-decoration: none;
        color: #fff;
        fill: #fff;

        background-color: $primary-color;
        padding: .5rem 1rem;

        &--icon {
            margin-left: .4rem;
            height: 1.2rem;
            width: 1.2rem;
        }
    }

    &__search {
        margin-right: auto;
        

        &--input {
            padding: .6rem 1rem;
            height: 3.5rem;
            width: 60rem;
            outline: none;
            border: none;
        }

    }

    &__month {
        padding: .5rem 1rem;
        background-color: $primary-color;
        border-top-right-radius: 1rem;


        display: flex;
        align-items: center;
        color: #fff;
        fill: #fff;
        font-size: 1.5rem;


        &--icon {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0rem .8rem;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }
}

.year {
    margin-left: 0.5rem;
}


.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    font-size: 1.5rem;
    display: flex;

    li {
        display: flex;
        flex-direction: column;

        list-style: none;
        width: 14%;
        color: #666;
        text-align: center;
    }

    &__day {
        span {
            display: block;
        }
    }
}

.sevendays {
    margin: 0;
    font-size: 1.5rem;
    display: flex;

    li {
        display: flex;
        flex-direction: column;

        list-style: none;
        width: 14%;
        color: #666;
        text-align: center;
    }

    &__day {
        background-color: #ddd;
        padding: 1rem 0rem;
        span {
            display: block;
        }
    }

    &__oneday {
       
        padding: 1rem 0rem;
        background-color: #ddd;
        font-size: 1.4rem;

      
    }

    &__head {
        display: flex;
        align-items: center;

        background-color: #fff;
        border-radius: 1rem;
        width: 88.3rem;
    }

    &__option {
        padding: .8rem;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
}

.schedule, th, td {
    border: .5px solid #867D7D;
    border-collapse: collapse;
    background-color: #fff;
}

// .schedule-list {
//     // position: relative;
// }

.schedule {
   width: 100%;
    
    &__item {
        position: absolute;
        width: 12rem;
        background-color: $primary-color;
        padding: 2rem 0rem;
    
        height: 8rem;
        margin-top: 0rem;
        font-size: 1.2rem;
        opacity: .9;

        span {
            color: #fff;
        }

        &--day {
            position: absolute;
            margin: 0rem 1rem;
            
            width: 88rem;
            background-color: $primary-color;
            padding: 2rem .5rem;
        
            height: 8rem;
            margin-top: 0rem;
            font-size: 1.2rem;
            opacity: .9;
            color: #fff;
        }
    }

    td {
        height: 4rem;
    }
}

.realtime {
    margin-top: 20rem;
    position: absolute;
    border: 1.5px solid orange;
    width: 90rem;
}
  
#item-1 {
    margin-top: 0rem;
    background-color: $primary-color;
}

#item-2 {
    margin-top: 10rem;
    background-color: blueviolet;
}

#item-3 {
    margin-top: 15rem;
    background-color: burlywood;
    // height: 20rem;
}

#dayitem-1 {
    margin-top: 12rem;
    background-color: $primary-color;
}

#dayitem-2 {
    margin-top: 28rem;
    background-color: blueviolet;
}

.timeline {
    position: absolute;
    margin-left: -4rem;
    margin-top: 4.2rem;

    ul {
        list-style: none;
    }

    li {
        margin: 2rem 0rem;
        font-size: 1.2rem;
    }
}

.timeline--2 {
    position: absolute;
    margin-left: -4rem;
    margin-top: 1rem;

    ul {
        list-style: none;
    }

    li {
        margin: 2rem 0rem;
        font-size: 1.2rem;
    }
}


.days {
    padding: 1rem 0;
    background: #eee;
    margin: 0;

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
        margin-left: .8rem;
    }

    &__number {
        width: 2.7rem;
        margin-bottom: .5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: -.3rem;

        p {
            margin-left: .4rem;
        }
    }

    &__icon {
        height: 1rem;
        width: 1rem;
    }

    &__more {
        position: absolute;
        margin-top: 8.4rem;
        background: none;
        width: 2rem;
        height: 2rem;
        border: none;
        fill: #333;
        outline: none;
        cursor: pointer;
       

        &--icon {
            height: 2rem;
            width: 2rem;
        }
    }
}


.legends {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    &__mark {
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
    

    p {
        font-size: 1.4rem;
        margin-left: .5rem;
    }
}

.legend {
    &__blue {
        fill: $primary-color;
    }

    &__green {
        fill: $color-green-primary;
    }

    &__orange {
        fill: $color-orange;
    }

    &__gray {
        fill: #777;
    }
}
  
.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    // text-align: center;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #777;
    background-color: #fff;
    height: 11rem;
}
  
.active__number {
    // padding: .1rem .1rem;
    text-align: center;
    background: $primary-color;
    color: #fff;
    border-radius: 5px;
}

.week {
    padding: 1rem 0;
    background: #eee;
    margin: 0;
}

// MODAL START

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-2 {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.newbronn {
    padding: 2rem 1rem;

    span {
        font-size: 1.4rem;
    }

    &__group {
        
        display: flex;
        align-items: center;
        margin-top: .5rem;

        &--input {
            padding: .7rem;
            border-radius: 5px;
            border: none;
            background-color: #eee;
            outline: none;

        }
    }

    &__right {
        margin-right: 1rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: auto auto; 
    }

    &__check {
        margin-left: 1rem;
    }

    &__label {
        margin-left: .3rem;
        margin-bottom: .1rem;
        font-size: 1.4rem;
    }

    &__heading {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--btn {
            display: flex;
            align-items: center;
        }
    }

    &__countbtn {
        border-radius: 5px;
        border: none;
        background: none;
        margin: 0rem .5rem;
        outline: none;
        cursor: pointer;

        &--icon {
            height: 1.8rem;
            width: 1.8rem;
            fill: $primary-color;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        margin-right: .5rem;
        fill: $primary-color;
    }


    &__hotel {
        font-size: 1.7rem;
        margin: 3rem 2rem;
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        &--item {
            margin-right: 2rem;
        }

        &--input {
            margin-left: .5rem;
            padding: .5rem;
            border-radius: 5px;
            border: none;
            background-color: #eee;
            outline: none;
            width: 4.5rem;
            text-align: center;
        }
    }

    &__text {
        display: flex;
        margin-top: 1.5rem;
    }
}

.modal-flex {
    display: flex;
    align-items: center;
}

.modal-content {
    margin: 10% auto;
    width: 40rem;
    background-color: #fff;
    animation-name: modalopen;
    animation-duration: 1s;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-content-2 {
    margin: 10% auto;
    width: 80rem;
    background-color: #fff;
    padding-bottom: 1rem;
    animation-name: modalopen;
    animation-duration: 1s;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-header {
    background: $primary-color;
    padding: 0rem 2rem;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    align-items: center;
}

.modal-body {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    
}

.close-bronn {
    float: right;
    margin-right: 1rem;
    font-size: 26px;
    color: $primary-color;
    cursor: pointer;
}

.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
    margin-left: auto;
    cursor: pointer;
}

.close-detail {
    
    font-size: 30px;
    margin-left: auto;
    cursor: pointer;
   
}

@keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


// MODAL END


// ROOMS

.rooms-container {
    padding: 5rem 0rem;
    width: 100rem;
    height: 4rem;
    margin: auto;
}

.thumbnail-slider{
	width: 100rem;
	float: left;
	overflow: hidden;
}

.thumbnail-slider .thumbnail-container{
	width: 100rem;
	float: left;
	transition: margin 1s ease;
}

.room {

    height: 25rem;
    float: left;

    &__heading {
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 1rem;
    }
   

    &__item {
        background-color: #fff;
        font-size: 1.6rem;
        height: 20rem;
        border-radius: 5px;
        cursor: pointer;

        &--head {
            h2 {
                font-size: 1.6rem;
                padding: 1rem 2rem;
            }
        }

        &--body {
            padding: 0rem 3.5rem;
        }

        &--item {
            display: flex;
            width: 100%;
            border-bottom: 2px solid $primary-color;
            margin-bottom: .7rem;
        }

        &--number {
            margin-left: auto;
        }
    }

}

.roominfo {

    &__head {
        margin: 0rem 3rem;
    }


    &__group {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        

        &--label {
            display: block;
            margin: 0rem .4rem;
            font-size: 1.4rem;
        }

        &--input {
            width: 14rem;
            margin: 0rem .4rem;
            background-color: #eee;
            border: none;
            padding: .5rem;
            border-radius: 5px;
            outline: none;
        }

        &--btn {
            border: none;
            border-radius: 5px;
            padding: .7rem;
            background: $primary-color;
            color: #fff;
            outline: none;
            cursor: pointer;
        }
    }

    &__btn {
        margin-top: 1rem;
        float: right;
    }

    &__body {
        margin: 0rem 3rem;

       
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(8, auto);
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0.5rem 0rem;

        &--input {
            margin-right: .7rem;
        }
    }
}

// KASTID

.box {

    

    &__container {
        display: grid;
        grid-template-columns: auto auto auto auto; 
    }

    &__item {
        width: 20rem;
        
    }

    &__info {
        margin-left: 1rem;
        
        h2 {
            font-size: 1.5rem;
        }
    }

    &__content {
        padding: .5rem .4rem;
        background-color: #eee;
        height: 20rem;
    }

    &__users {
        display: grid;
        grid-template-columns: auto auto auto; 

    }

    &__notifi {
        margin-top: .5rem;
        margin-bottom: -1rem;

        &--icon {
            position: absolute;
            background: #55c57a;
            padding: 0rem .3rem;
            border-radius: 8px;
            margin-top: -.3rem;
            margin-left: 2rem;
            color: #fff;
            
        }
    }

   

    &__user {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-bottom: .4rem;
        width: 6rem;
        height: 7rem;
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

        &--icon {
            
            height: 2.8rem;
            width: 2.8rem;
            fill: $primary-color;
        }

        span {
            // margin: -.3rem;
            font-size: 1.2rem;
            line-height: 1.9rem;
        }

        &--name {
            width: 5rem;
            text-align: center;
        }

        &--longname {
            position: relative;
            width: 5rem;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            

            &:hover {
                position: absolute;
                overflow: visible;
                top: 3.8rem;
                background-color: $primary-color;
                width: 10rem;
                border-radius: 5px;
                z-index: 5555;
                text-align: center;
                color: #fff;
            }
        }
    }

    &__grey-border {
        border: 2px solid #666;
    }

    &__green-border {
        border: 2px solid #55c57a;
    }

}

.date {
   display: inline-block;
    align-items: center;
    margin-bottom: 2rem;

    &__group {
        margin: 0rem 1rem;

        label {
            display: block;
            font-size: 1.2rem;
        }
    }

    &__flex {
        display: flex;

       
    }

    &__btn {
        margin-top: 2rem;

        button {
            background-color: $primary-color;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            padding: .4rem 1rem; 
        }
    }
}



.active--room {
    background-color: $primary-color;
    color: #fff;

    .room__item--item {
        border-bottom: 2px solid #fff;
    }
}

.thumbnail-slider .controls{
	width: 100rem;
	float: left;
	padding:15px;
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 3.5rem;
	width: 3.5rem;
    border:1px solid #c3c3c3;
    border-radius: 5px;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}
.thumbnail-slider .controls ul li.active{
	background-color: $primary-color;
	color:#ffffff;

}

// Accordian menu

.accordion {
    width: 100%;
    margin-top: 1rem;
    
    &__input {
        display: none;
    }
}

.box {
	position: relative;
	background: white;
    height: 64px;
    transition: all .15s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.box-title {
	width: calc(100% - 10px);
    height: auto;
    font-size: 1.5rem;
	line-height: 64px;
	padding: 0 1.5rem;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
	width: calc(100% - 10px);
	padding: 1.5rem 1rem;
	font-size: 11pt;
	color: rgba(0,0,0,.54);
	display: none;
}
.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .box {
	height: auto;
	margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 64px);
}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}

.dropdownBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dropdown-projects{
    width:130px;
    display:none;
    background: $primary-color;
    border-radius: 5px;
    color: #fff;
    flex-direction:column;
    z-index:10;
    position:absolute;
    // left:-10px;
    bottom: 58px;

    &__date {
        display: flex;
        align-items: center;
        padding: .5rem;
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0rem 1rem;
        fill: #fff;
    }

    // &__content {
    //     display: none;
    //     position: absolute;
    //     background-color: #f9f9f9;
    //     min-width: 160px;
    //     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    //     z-index: 1;

    //     a {
    //         color: black;
    //         padding: 12px 16px;
    //         text-decoration: none;
    //         display: block;
    //         text-align: left;
    //     }
    // }
  }

.dropdown-projects__link:hover .dropdown-projects__content {
    display: block;
}

  .active1{
    display:flex;
  }
  .dropdown-projects a{
    font-size: 1.2rem;
    text-align:center;
    color: #fff;
    font-weight:bold;
    cursor:pointer;
    box-sizing:border-box;
    border-radius: 5px;
    padding: 2px 5px;
    width:100%;
  }
  .dropdown-projects a:hover{
    background-color:rgba(0,0,0,0.2);
  }


.transfer {
  position: relative;
  display: inline-block;

  &__link {
      margin-left: .5rem;
      display: flex;
      align-items: center;
  }

  &__icon {
      height: 1.2rem;
      width: 1.2rem;
      margin-left: .2rem;
      fill: #fff;
  }
}

.transfer-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  top: -2rem;
  left: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: $primary-color;
  z-index: 1;
  overflow: auto;
  height: 10rem;


}

.transfer-content::-webkit-scrollbar {
    width: .7em;    
}

.transfer-content::-webkit-scrollbar-thumb {
    background-color:rgba(0,0,0,0.2);
    border-radius: 5px;
}

.transfer-content a {
  font-size: 1.2rem;
  text-align:center;
  padding: 2px 5px;
  text-decoration: none;
  display: block;
}

.transfer-content a:hover {background-color:rgba(0,0,0,0.2);}

.transfer:hover .transfer-content {display: block;}
