.admin-dash-container {
    display: flex;
    height: 93vh;
}

.verify-container {
    margin: 2rem auto;
    width: 100rem;
    max-width: 120rem;
}

.verify {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__body {
       
        margin: 1rem 2rem;
        width: 87rem;
    }

    &__group {

        label {
            display: block;
            font-size: 1.5rem;
        }

        input {
            padding: 0.7rem 1rem;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }

        select {
            padding: 0.7rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    &__search {
        cursor: pointer;
        margin-top: 2.2rem;
        padding: .5rem 1.8rem;
        background: $primary-color;
        border-radius: 10px;
        border: none;
        outline: none;
        &--icon {
            width: 1.5rem;
            height: 1.5rem;
            fill: #fff;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        text-decoration: none;
        margin: .5rem 0rem;
        color: #333;
        border-bottom: 2px solid $primary-color;

        &:hover {
            color: $primary-color;
        }

        &--name {
            width: 25rem;
            text-align: center;
        }

        &--email {
            width: 25rem;
            text-align: center;
        }

        &--date {
            width: 18rem;
            text-align: center;
        }

        &--status {
            width: 17rem;
            text-align: center;
        }
    }
}

.status-green {
    color: #1ab700;
}

.status-yellow {
    color: #ffa216;
}

.status-red {
    color: #ff6161;
}

.status-grey {
    color: #7b7b7b;
}

