.register {
    max-width: 105rem;
    margin: auto;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba($color-black, .5);
    border-radius: 1rem;
}

.register-last {
    max-width: 105rem;
    margin: 12rem auto;
    padding: 6rem 0rem;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba($color-black, .5);
    border-radius: 1rem;
}

.register__input {
    font-size: 1.6rem;
    padding: .7rem;
    width: 30rem;
    margin-bottom: 1.5rem;
    
    

    &--1 {
        font-size: 1.6rem;
        padding: .7rem;
        width: 50rem;
        margin-bottom: 1rem;
    }

    &--desc {
        font-size: 1.6rem;
        padding: .7rem;
        width: 68.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        
    }
}

.register__textarea {
    width: 90rem;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    
    textarea {
        font-size: 1.6rem;
        font-family: inherit;
        padding: .7rem;
        width: 90rem;
    }
}

.register__label {
    font-size: 1.2rem;
    font-weight: 700;
   
    // margin-top: .7rem;
    display: block;
    transition: all .3s;
}
.sportlist {
    margin-left: 2.5rem;
}

.add__image {
    position: relative;
    margin: auto;
    margin-top: 2rem;
    background-color: $color-grey-light-2;
    width: 90rem;
    height: 20rem;
    cursor: pointer;

    &--icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}

.add_more {
    margin-left: 17.5%;
    margin-bottom: 2rem;
    border: none;
    width: 15rem;
    padding: .5rem;
    cursor: pointer;
}

.terms {
    width: 50rem;
    margin-top: 2rem;
    margin-left: 23%;
    display: flex;
    align-items: center;
    
    p {
        margin-left: .5rem;
    }
}


.row-register {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

}

